body
{
	background-color: #232323;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

.square{
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%; 
	border-radius: 25px;
}

.container{
	max-width: 600px;
	margin: 0 auto;
}

h1{
	color: white;
	text-transform: uppercase;
	padding-left: 350px;

}
p{
	color: white;
	text-transform: uppercase;
	padding-left: 450px;
	font-size: 1.2em;

}
#top
{
	padding: 20px 0px;
	font-size: 1.5em;
	background:#4b7ed1;
}
.nav{
	color:#4b7ed1;
	background:white;
	padding:8px 0px;
	margin-bottom:10px;
	font-weight: bold;

}

#b1{
	padding-left:410px; 


}

#b2{
		padding-left: 320px;
}

#b3{
	padding-left: 20px;
}