img
{
	width: 30%;
	float: left;
	margin: 1.66%;
}

p{
	font-family: 'Delius', cursive;
	text-align: center;
	padding-bottom: 20px;
	margin-left: 1.66%;
	font-size: 30px;
	text-transform: uppercase;
	border-bottom: 3px solid black;
	width: 30%;

}
